html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  background-color: rgb(207, 204, 5);
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.photo-card{
  width: 320px; 
  background-color: rgb(7, 123, 168);
  border-radius: 5px;
}

.photo-card:nth-child(-n+6){
margin-bottom: 10px;
}

.stats{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.stats-item{
  width: 30px;
  height: 30px;
  color: rgb(0, 255, 255);
}

.material-icons{
  width: 25px;
  height: 25px;
  color: rgb(7, 202, 7);
}

.load-more{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(95, 158, 160);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.767);
}

.load-more:hover, .load-more:focus{
  background-color:rgba(255, 255, 255, 0.767);
  color: rgb(95, 158, 160);

}
